version: '3.8'

services:
  api:
    build: . 
    ports:
      - "3033:3033"
    tty: true
    environment:
      MONGO_URI: mongodb://mongo:27017/estudiantes_db
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:4.4
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: